Source: bsdgames-nonfree
Section: non-free/games
Priority: optional
Maintainer: Aaron M. Ucko <ucko@debian.org>
Build-Depends: cdbs, debhelper (>> 6), libncurses5-dev
Standards-Version: 3.7.3

Package: bsdgames-nonfree
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: bsdgames (<< 2.5)
Suggests: bsdgames
Description: rogue, the classic dungeon exploration game
 This is a text-based game common on (traditional) BSD systems.  It may
 not be distributed freely, so it had to be broken off from the main
 bsdgames package and placed in non-free.
 .
 This package now contains only rogue, the classic dungeon exploration game.
