#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_DH_INSTALLCHANGELOGS_ARGS = -k
DEB_INSTALL_CHANGELOGS_ALL    = NEWS
DEB_FIXPERMS_EXCLUDE          = /usr/games/rogue
DEB_MAKE_CLEAN_TARGET         = -f GNUmakefile distclean
DEB_MAKE_INSTALL_TARGET       = INSTALL_PREFIX=$(DEB_DESTDIR) install

VRMSDIR = $(DEB_DESTDIR)/usr/share/vrms/reasons
DOCDIR  = $(DEB_DESTDIR)/usr/share/doc/$(cdbs_curpkg)

common-configure-arch common-configure-indep:: common-configure-impl
common-configure-impl:: $(DEB_BUILDDIR)/Makeconfig
$(DEB_BUILDDIR)/Makeconfig:
	./configure

binary-post-install/bsdgames-nonfree::
	mkdir -p $(VRMSDIR)
	echo "$(cdbs_curpkg): No commercial use" > $(VRMSDIR)/$(cdbs_curpkg)
	cp rogue/CHANGES $(DOCDIR)/CHANGES.rogue
	-rm -f $(DEB_DESTDIR)/var/games/bsdgames-nonfree/rogue.scores 
